<!DOCTYPE html>
<html>

  <head>
    <title>BACKBONE Marionette</title>

    <script src="./js/vendor/jquery.js"></script>
    <script src="./js/vendor/json2.js"></script>
    <script src="./js/vendor/underscore.js"></script>
    <script src="./js/vendor/backbone.js"></script>
    <script src="./js/vendor/backbone.radio.js"></script>
    <script src="./js/vendor/backbone.marionette.min.js"></script>
  </head>
  <body>
   <h1>Notebook</h1>
  <div id="form">
  <script type="text/template" id="formView">
     <h2> New Event </h2>
     <p>Event: <input type = "text" id = "event" /></p>
     <p>Time: <input type = ""text" id="time" /></p>
     <button>ADD</button>
  </script>
   <script type="text/template" id="eventsView">
     <p>Event: <%= event %></p>
     <p>Time:  <%= time %></p>
   </script>
   </div>
   <div id="list">
   <script type="text/template" id="noEventsView">
     <h2> No events </h2>
   </div>
   </script>
   <script src="./js/app2.js"></script>
  </body>
</html>
